{% extends 'base.html' %}

{% block content %}
    <form class="form-signin" action='/register' method="POST">

        <h2 class="form-signin-heading">Please Sign Up</h2>

        <div class="form-group">
            <label for="email-field" class="sr-only">Email Address</label>
            <input type="email"
                   name="email"
                   class="form-control input-lg"
                   placeholder="Email Address"
                   required
                   autofocus>
        </div>

        <div class="form-group">
            <label for="password-field" class="sr-only">Password</label>
            <input type="password"
                   name="password"
                   class="form-control input-lg"
                   placeholder="Password"
                   required>
        </div>

            <div class="form-group">
            <label for="age-field" class="sr-only">Age</label>
            <input type="text"
                   name="age"
                   class="form-control input-lg"
                   placeholder="Age"
                   required>
        </div>

            <div class="form-group">
            <label for="zipcode-field" class="sr-only">Zipcode</label>
            <input type="text"
                   name="zipcode"
                   class="form-control input-lg"
                   placeholder="Zipcode"
                   required>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register
        </button>

    </form>

{% endblock %}